:root{
    --normal-main-color: #FFF2F2;
    --normal-second-color: #471515;
    --normal-third-color: #FF4C4C26;
    --normal-bg-button-color: #FF4C4CB5;
    --break-main-color: #4DDA6E26;
    --break-second-color: #14401D;
    --break-third-color: rgba(77, 218, 110, 0.15);
    --break-bg-button-color: rgba(77, 218, 110, 0.62);
    --long-main-color: #4DDA6E26;
    --long-second-color: #153047;
    --long-third-color: rgba(76, 172, 255, 0.15);
    --long-bg-button-color: rgba(76, 172, 255, 0.62);
}

#logo {
    color: var(--normal-second-color);
    /* border: 1px solid var(--normal-second-color); */
    text-shadow: none;
    margin-bottom: 60px;
    font-family: 'Kaushan Script';
    font-size: 52px;
}

.turns{
    color: var(--normal-second-color);
    font-family: Roboto Flex;
    font-size: 20px;
    margin-bottom: 30px;
}

body {
    background: var(--normal-main-color);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modus{
    color: var(--normal-second-color);
    background: var(--normal-third-color);
    border: var(--normal-second-color) solid 2px;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 10px;
    margin-bottom: 32px;
    height: 35px;
}

#modus-text{
    position: relative;
    top: -25%;
    font-family: Roboto Flex;
}

.modus img{
    padding-right: 8px;
}

.time{
    color: var(--normal-second-color);
    width: auto;
    height: auto;
    max-width: 280px;
    font-family: Roboto Flex;
    font-size: 256px;
    line-height: 200px;
    font-weight: normal;
    text-align: center;
}

.buttons-container{
    margin-top: 32px;
    color: var(--normal-second-color);
}
#start-button{
    background: var(--normal-bg-button-color);
    padding: 32px 48px;
    width: 128px;
    height: 96px;
    border-radius: 32px;
    border: 0;
    gap: 16px;
}

.side-button{
    background: var(--normal-third-color);
    padding: 24px;
    border-radius: 24px;
    gap: 16px;
    border: 0;
}

.add-task{
    border: none;
    margin-top: 40px;
}

#plus-image{
    width: 30px;
    height: 30px;
    /*background-color: var(--normal-main-color);*/
    /*border: var(--normal-second-color) solid 2px;*/
}

.menu{
    margin-top: 90px;
    width: 100%;
    height: 760px;
    background: var(--normal-main-color);
    max-width: 380px;
    padding: 24px;
    border-radius: 24px;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    border: var(--normal-second-color) solid 2px;
}

.settings-text{
    font-family: "Roboto Light", "sans-serif";
    color: var(--normal-second-color);
}

.toggle-container{
    background-color: rgba(0, 0, 0, 0.24);
    width: 32px;
    height: 20px;
    padding: 2px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    display: block;
    transition: 0.2s;
}

.toggle-container::before{
    position: absolute;
    content: "";
    background-color: rgb(255, 242, 242);
    width: 16px;
    height: 16px;
    border-radius: 1000px;
    transition: 0.2s;
    margin-top: 2px;
}


.dark-mode input:checked + .toggle-container{
    background-color: var(--normal-bg-button-color);
}

#darkm:checked + .toggle-container::before {
    transform: translateX(15px);
}

#darkm{
    display: none;
}

#focusl, #break, #longbreak{
    width: 96px;
    height: 40px;
    border-radius: 8px;
    border: rgba(0, 0, 0, 0.15) solid 1px;
    margin: 24px auto 24px 24px;
}

#focusl:focus, #break:focus, #longbreak:focus{
    border: var(--normal-bg-button-color) solid 3px;
}

#button-ok{
    background: var(--normal-bg-button-color);
    padding: 20px 50px;
    width: 90px;
    height: 65px;
    border-radius: 32px;
    border: 0;
    gap: 16px;
}

#button-ok span{
    color: var(--normal-second-color);
    font-family: "Roboto Flex", sans-serif;
    font-size: large;
    align-self: center;
}
